Repository Equal-UI/Equal: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:eslint --fix, lint:prettier, lint:stylelint

.lintstagedrc.json:

{
  "src/**/*.{ts,vue}": [
    "lint:eslint --fix",
    "lint:prettier"
  ],
  "docs/src/**/*.{ts,vue}": [
    "lint:eslint --fix",
    "lint:prettier"
  ],
  "**/*.{less,vue}": [
    "lint:stylelint"
  ]
}

ADD: husky & lint-staged
  .lintstagedrc.json
Due: none

REFACTOR: ItBadge component
  src/components/badge/ItBadge.vue
  src/components/badge/constants.ts
  src/components/badge/styles.less
  src/styles/index.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

REFACTOR: ItButton component & docs default type
  docs/src/pages/components/ButtonDoc.vue
  src/components/button-group/ItButtonGroup.vue
  src/components/button-group/index.ts
  src/components/button-group/styles.less
  src/components/button/ItButton.vue
  src/components/button/styles.less
  src/styles/index.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

REFACTOR: ItButtonGroup component
  src/components/button-group/ItButtonGroup.vue
  src/components/button-group/styles.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

Add husky & lint-staged (#209)
  .huskyrc.json
  .lintstagedrc.json
  package.json
Due: none

Refactor ItBadge component (#210)
  src/components/badge/ItBadge.vue
  src/components/badge/constants.ts
  src/components/badge/styles.less
  src/styles/index.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

Refactor ItButton ItButtonGroups components, fix ItButton docs (#211)
  docs/src/pages/components/ButtonDoc.vue
  src/components/button-group/ItButtonGroup.vue
  src/components/button-group/index.ts
  src/components/button-group/styles.less
  src/components/button/ItButton.vue
  src/components/button/styles.less
  src/styles/index.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

Refactor ItAvatar component (#208)
  src/App.vue
  src/components/avatar-group/ItAvatarGroup.vue
  src/components/avatar-group/hooks.ts
  src/components/avatar-group/index.ts
  src/components/avatar-group/styles.less
  src/components/avatar-group/types.ts
  src/components/avatar/ItAvatar.vue
  src/components/avatar/ItAvatarGroup.vue
  src/components/avatar/styles.less
  src/helpers/getChildrenVNodesFromSlot.ts
  src/helpers/getUpperFirstLettersWords.ts
  src/styles/index.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

REFACTOR: ItSelect
  src/App.vue
  src/components/select/ItSelect.vue
  src/components/select/enums.ts
  src/components/select/hooks.ts
  src/components/select/styles.less
  src/styles/index.less
  src/types/global.ts
  src/types/index.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

LINTING styles
  src/components/button/styles.less
  src/components/select/styles.less
Due: lint:stylelint

REFACTOR: ItSelect component and ItSelect doc
  docs/src/pages/components/SelectDoc.vue
  src/components/select/ItSelect.vue
  src/components/select/constants.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

ADD: ItSelect slots - top-label, selected, placeholder, icon
  docs/src/pages/components/SelectDoc.vue
  src/components/select/ItSelect.vue
  src/components/select/styles.less
Due: lint:eslint --fix, lint:prettier, lint:stylelint

FIX: ItSelect
  docs/src/pages/components/SelectDoc.vue
  src/components/select/ItSelect.vue
  src/components/select/constants.ts
  src/components/select/helpers.ts
  src/components/select/hooks.ts
  src/components/select/styles.less
  src/components/select/types.ts
  src/models/enums/Directions.ts
  src/models/enums/index.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

ADD: ItSelect trackBy, adding docs
  docs/src/components/Box.vue
  docs/src/components/ItCode.vue
  docs/src/main.ts
  docs/src/pages/components/SelectDoc.vue
  src/components/select/ItSelect.vue
  src/components/select/hooks.ts
  src/components/select/types.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

REFACTOR: ItSelect docs
  docs/src/pages/components/SelectDoc.vue
  docs/src/pages/components/SelectDoc/SectionDemo/index.vue
  docs/src/pages/components/SelectDoc/SectionExamples/index.vue
  docs/src/pages/components/SelectDoc/constants.ts
  docs/src/pages/components/SelectDoc/index.vue
  docs/src/pages/index.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

ADD: ItSelect docs slots
  docs/src/components/Table.vue
  docs/src/pages/components/SelectDoc/SectionExamples/index.vue
  docs/src/pages/components/SelectDoc/SectionSlots/index.vue
  docs/src/pages/components/SelectDoc/constants.ts
  docs/src/pages/components/SelectDoc/index.vue
  src/App.vue
  src/components/select/ItSelect.vue
  src/components/select/hooks.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

small fixes
  docs/src/components/Box.vue
  docs/src/components/Sidebar.vue
  docs/src/pages/components/SelectDoc/SectionSlots/index.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

REFACTOR&ADD: it select (#217)
  docs/src/components/Box.vue
  docs/src/components/ItCode.vue
  docs/src/components/Sidebar.vue
  docs/src/components/Table.vue
  docs/src/main.ts
  docs/src/pages/components/SelectDoc.vue
  docs/src/pages/components/SelectDoc/SectionDemo/index.vue
  docs/src/pages/components/SelectDoc/SectionExamples/index.vue
  docs/src/pages/components/SelectDoc/SectionSlots/index.vue
  docs/src/pages/components/SelectDoc/constants.ts
  docs/src/pages/components/SelectDoc/index.vue
  docs/src/pages/index.ts
  src/App.vue
  src/components/button/styles.less
  src/components/select/ItSelect.vue
  src/components/select/constants.ts
  src/components/select/helpers.ts
  src/components/select/hooks.ts
  src/components/select/styles.less
  src/components/select/types.ts
  src/models/enums/Directions.ts
  src/models/enums/index.ts
  src/styles/index.less
  src/types/global.ts
  src/types/index.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

up version
  package.json
Due: none

Fixing issue with webstorm complaining about no module declaration. Also making library include only src and dist files
  package.json
  src/types/index.d.ts
Due: lint:eslint --fix, lint:prettier

Fixing issue with webstorm complaining about no module declaration. Also making library include only src and dist files (#232)
  package.json
  src/types/index.d.ts
Due: lint:eslint --fix, lint:prettier

upd
  package.json
  src/types/index.d.ts
Due: lint:eslint --fix, lint:prettier

0.77
  docs/package.json
  docs/src/components/Sidebar.vue
  docs/src/data/components.ts
  docs/src/pages/Landing.vue
  docs/src/pages/components/ButtonDoc.vue
  docs/src/pages/components/IconDoc.vue
  docs/src/pages/components/TagDoc.vue
  docs/src/types.ts
  package.json
  src/components/button/styles.less
  src/components/icon/icon.less
  src/components/modal/ItModal.vue
  src/components/radio/radio.less
  src/components/switch/switch.less
  src/components/tag/ItTag.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

feature/button_htmlType add htmlType prop on button
  src/components/button/ItButton.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

chore( git ): enhance `.gitignore` file
  .gitignore
Due: none

chore: add `CONTRIBUTING.md` file
  CONTRIBUTING.md
Due: none

chore( github ): add issues' templates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add `CONTRIBUTING.md` file and enhance `.gitignore` file (#248)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .gitignore
  CONTRIBUTING.md
Due: none

feat( components ): impelement `scrollToSelectedOption` method
  docs/src/components/Box.vue
  docs/src/pages/components/NotificationDoc.vue
  package.json
  src/App.vue
  src/components/button/ItButton.vue
  src/components/colorpicker/subcomponents/Alpha.vue
  src/components/colorpicker/subcomponents/Hue.vue
  src/components/message/ItMessage.vue
  src/components/notification/ItNotification.vue
  src/components/select/ItSelect.vue
  src/components/select/hooks.ts
  src/components/select/types.ts
  src/components/slider/ItSlider.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

feat( components ): impelement `scrollToSelectedOption` method (#251)
  docs/src/components/Box.vue
  docs/src/pages/components/NotificationDoc.vue
  package.json
  src/App.vue
  src/components/button/ItButton.vue
  src/components/colorpicker/subcomponents/Alpha.vue
  src/components/colorpicker/subcomponents/Hue.vue
  src/components/message/ItMessage.vue
  src/components/notification/ItNotification.vue
  src/components/select/ItSelect.vue
  src/components/select/hooks.ts
  src/components/select/types.ts
  src/components/slider/ItSlider.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

nested drawers/modals update; tooltip/popover autoposition
  docs/public/finally.png
  docs/src/components/Sidebar.vue
  docs/src/pages/components/BadgeDoc.vue
  docs/src/pages/components/DrawerDoc.vue
  docs/src/pages/components/ModalDoc.vue
  docs/src/pages/components/PopoverDoc.vue
  docs/src/pages/components/TagDoc.vue
  docs/src/pages/components/TooltipDoc.vue
  src/components/button-group/styles.less
  src/components/checkbox/checkbox.less
  src/components/drawer/ItDrawer.vue
  src/components/drawer/drawer.less
  src/components/modal/ItModal.vue
  src/components/modal/modal.less
  src/components/popover/ItPopover.vue
  src/components/tooltip/ItTooltip.vue
  src/components/tooltip/tooltip.less
  src/hooks/usePopover.ts
  src/index.ts
  src/types/global.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint

version update
  package.json
Due: none

Update ItInput.vue
  src/components/input/ItInput.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

Update ItInput.vue (#253)
  src/components/input/ItInput.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

nested modals in drawers fix
  package.json
  src/components/input/ItInput.vue
  src/components/modal/ItModal.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

Textarea data-binding fix
  package.json
  src/components/textarea/ItTextarea.vue
Due: lint:eslint --fix, lint:prettier, lint:stylelint

console log removed; docs fixes
  docs/src/pages/components/TagDoc.vue
  docs/src/pages/components/TooltipDoc.vue
  package.json
  src/hooks/usePopover.ts
Due: lint:eslint --fix, lint:prettier, lint:stylelint
